<div>
  <h1>
    Galerias de Arte Família Abreu
  </h1>
  <table mat-table [dataSource]="galleries">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let gallery"> {{gallery.name}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> Cidade </th>
      <td mat-cell *matCellDef="let gallery"> {{gallery.city}} </td>
    </ng-container>

    <ng-container matColumnDef="manager">
      <th mat-header-cell *matHeaderCellDef> Responsável </th>
      <td mat-cell *matCellDef="let gallery"> {{gallery.manager}} </td>
    </ng-container>

    <ng-container matColumnDef="nbrWorks">
      <th mat-header-cell *matHeaderCellDef> # Obras Expostas </th>
      <td mat-cell *matCellDef="let gallery"> {{gallery.nbrOfArtWorksOnDisplay}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let gallery">
        <span>
          <mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit" (click)="editGalleryClick(gallery.id)"></mat-icon>
          <mat-icon aria-hidden="false" aria-label="art works list" fontIcon="list_alt" (click)="openArtWorksList(gallery.id)"></mat-icon>
        </span>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
